<section id="section-register">
  <form id="register-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Character name" ngModel name="charname" required #charNameInput="ngModel" [(ngModel)]="character.name">
      <mat-error *ngIf="charNameInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Age" ngModel name="age" required #charAgeInput="ngModel" [(ngModel)]="character.age">
      <mat-error *ngIf="charAgeInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Class" ngModel name="clas"  required #charClassInput="ngModel" [(ngModel)]="character.clas">
      <mat-error *ngIf="charClassInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Race" ngModel name="race" required #charRaceInput="ngModel" [(ngModel)]="character.race">
      <mat-error *ngIf="charRaceInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" ngModel name="username" required #usernameInput="ngModel" [(ngModel)]="character.username">
      <mat-error *ngIf="usernameInput.hasError('required')">Field should not be empty!</mat-error>
      <mat-error *ngIf="!usernameInput.hasError('required')">Please use the correct format!</mat-error>
    </mat-form-field>

    <div class="extra" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button type="submit" mat-raised-button color="primary">Submit</button>
      <button type="submit" mat-raised-button color="primary" (click)="goBack()">Back</button>
    </div>
    <mat-label *ngIf="errorExists"> {{errorText}} </mat-label>
  </form>
</section>

