<section id="section-register">
  <form id="register-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text" matInput placeholder="Forename" ngModel name="forename" required #forenameInput="ngModel" [(ngModel)]="user.forename">
      <mat-error *ngIf="forenameInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Surname" ngModel name="surname" required #surnameInput="ngModel" [(ngModel)]="user.surname">
      <mat-error *ngIf="surnameInput.hasError('required')">Field should not be empty!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email" matInput placeholder="E-mail" ngModel name="email" email required #emailInput="ngModel"  [(ngModel)]="user.email">
      <mat-error *ngIf="emailInput.hasError('required')">Field should not be empty!</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">Please use the correct email format!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" ngModel name="username" required #usernameInput="ngModel" [(ngModel)]="user.username">
      <mat-error *ngIf="usernameInput.hasError('required')">Field should not be empty!</mat-error>
      <mat-error *ngIf="!usernameInput.hasError('required')">Please use the correct format!</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Please enter minimum 8 characters.">
      <input type="password" matInput placeholder="Password" ngModel name="password" required minlength="8" #passInput="ngModel" [(ngModel)]="user.password">
      <mat-hint align="end"> {{ passInput.value?.length }} / 8 </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input type="text" matInput placeholder="Universe" ngModel name="universe" required #universeInput="ngModel" [(ngModel)]="user.universe">
      <mat-error *ngIf="universeInput.hasError('required')">Field should not be empty!</mat-error>
      <mat-error *ngIf="!universeInput.hasError('required')">Please use the correct format!</mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Register</button>

    <div class="extra">
      <mat-checkbox color="primary" ngModel name="acceptance" required>
        I accept the terms of conditions of use.
      </mat-checkbox>
    </div>
    <mat-label *ngIf="errorExists"> {{errorText}} </mat-label>
  </form>
</section>
