<mat-toolbar color="primary" role="heading" class="mat-toolbar">
  <img  src="../../assets/logo.png" alt="Logo" width="60px" height="60px">
  <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px" fxHide.xs>
    <a mat-list-item routerLink="/welcome" style="color: white; text-decoration: none;">Welcome</a>
    <a mat-list-item routerLink="/campaigns"  style="color: white; text-decoration: none;">Campaigns</a>
    <a mat-list-item routerLink="/gameplay"  style="color: white; text-decoration: none;">Characters</a>
  </div>
</mat-toolbar>

