#register-form{
  border: 1px solid;
  border-color: #4C0000;
  max-width: 500px;
  margin: auto;
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: rgba(242, 224, 224, 0.733);
  padding-top: 20px;

}

.extra{
  max-width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

#section-register{
  padding-top: 55px;
}

.card{
  box-shadow: 0 25px 25px 0 rgba(0,0,0,4.0);
  transition: 0.3s;
  width: 500px;
  margin: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
